header {
    color: green;
    text-align: center;
    background-color: beige;
    font-weight: 2em;
    font-size: 1em;
    border-radius: 25px;
    border: 2px dotted yellowgreen;
}
a {
    font-size: 1em;
    color: green;
    font-weight: 1em;
    text-decoration: none;
}
a:hover {
    background-color: black;
}
a:visited {
    color: gray;
    background-color: pink;
}
a:active {
    background-color: purple;
}
